%a
  [ 
  = link_to 'last', quotes_path
  ]

-#%a= link_to "random", :controller => "quotes", :action => "random"
-#%a= link_to "browse", :controller => "quotes", :action => "browse"

%a
  [ 
  = link_to 'add', new_quote_path
  ]

-#%a= link_to "search", :controller => "search"
