.box
  %a{:href => "http://ruby-lang.com"}
    %img{:src => "/images/ruby.png"}
    
  %a{:href => "http://rubyonrails.org/"}
    %img{:src => "/images/rails.png"}
    
  %a{:href => "http://rvm.beginrescueend.com/"}
    %img{:src => "/images/rvm.png"}
    
  %a{:href => "http://ubuntu.com/"}
    %img{:src => "/images/ubuntu.png"}
    
  %a{:href => "http://nginx.org/"}
    %img{:src => "/images/nginx.gif"}
    
  %a{:href => "http://rubygems.org/gems/unicorn"}
    %img{:src => "/images/unicorn.png"}   
  
  %a{:href => "http://mongodb.org/"}
    %img{:src => "/images/mongodb.png"}  
    
  %a{:href => "http://mongoid.org/"}
    %img{:src => "/images/mongoid.png"} 

  %a{:href => "http://mongohq.com/"}
    %img{:src => "/images/mongohq.png"} 
       
  %a{:href => "http://rubygems.org/gems/capistrano"}
    %img{:src => "/images/capistrano.png"}
    
  %a{:href => "http://haml-lang.com/"}
    %img{:src => "/images/haml.gif"}
    
  %a{:href => "http://sass-lang.com/"}
    %img{:src => "/images/sass.gif"}
    
  %a{:href => "http://compass-style.org/"}
    %img{:src => "/images/compass.png"}    
    
  %a{:href => "http://git-scm.com/"}
    %img{:src => "/images/git.png"}
  
  %a{:href => "http://github.com/"}
    %img{:src => "/images/github.png"}    
  
  %a{:href => "http://github.com/advsm/nwn_quotes"}
    %img{:src => "/images/nwn.jpg"}
    
